html, body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
    min-width: 520px;
}

pre{
    margin: 0 !important;
    padding: 0 !important; 
}

nav{
    float: right;
    width: 25vw;
    height: 45vh;
    margin-top: 27.5vh;
    margin-bottom: 27.5vh;
    margin-right: 5vw;
    margin-left: 70vw;
    text-align: center;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.navBlock{
    height: 4.1vh;
    width: 5vh;
    padding-top: 0.9vh;
    background-color: rgba(255, 255, 255, 0.6);
    float: right; 
    white-space: nowrap;
    text-align: right;
    direction: rtl;
    overflow: hidden;
}

.navBlock:hover{
    width: 100%;
    transition: 0.75s ease-in-out;
}

.navLine{
    margin-right: 2vh;
    height: 5vh;
    border-right: 0.5vh solid rgba(255, 255, 255, 0.6);
    float: right;
}

.navLink{
    text-decoration: none;
    font-size: 3vh;
}

#landingContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: darkslateblue;
}

#landingButtonBox{
    padding-top: 45vh;
    font-size: 45px;
    text-align: center;
    animation: arrowDown 2.25s infinite;
    -webkit-animation: arrowDown 2.25s infinite;
    position: relative;
}

.arrowButtons{
    color: black;
    text-decoration: none;
}

.arrowButtons:hover{
    color: rgb(49, 51, 53);
}

.arrowButtons:visited{
    color: black;
}

.navigationWrapper{
    text-align: center;
    height: 5vh;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 5vh;
    font-size: 5vh;
    padding-bottom: 5vh;
    position: relative;
}

.up {
    animation: arrowUp 2.25s infinite;
    -webkit-animation: arrowUp 2.25s infinite;
}

.down{
    animation: arrowDown 2.25s infinite;
    -webkit-animation: arrowDown 2.25s infinite;
}

.contentContainer{
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

@keyframes arrowDown{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: 1%;}
    60% {top: 2%;}
}

@-webkit-keyframes arrowDown{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: 1%;}
    60% {top: 2%;}
}

@keyframes arrowUp{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: -1%;}
    60% {top: -2%;}
}

@-webkit-keyframes arrowUp{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: -1%;}
    60% {top: -2%;}
}

#introBlurbContainer{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: bisque;
}

#footer{
    color: white;
    background-color: rgb(0, 46, 128);
    text-align: center;
    font-size: 18px;
    padding: 4%;
}

#footer a{
    color: lightsteelblue;
    text-decoration: underline;
}

#footer a:hover{
    color: rgb(177, 177, 177);
}

#footer a:visited{
    color: white;
}