html, body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
    min-width: 520px;
    background-color: rgb(45, 45, 50);
}

.textLinks{
    color: orange;
}

.textLinks:hover{
    color: darkgoldenrod;
}

.textLinks:active{
    color: gray;
}

.textLinks:visited{
    color: darkcyan
}

/* --- Nav CSS ------------------------------------------------------------------------ */
nav{
    height: 45vh;
    right: 5vw;
    margin-top: 27.5vh;
    margin-bottom: 27.5vh;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.navTagContainer{
    height: 5vh;
    width: 5vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    direction: rtl;
    float: right
}

.navTagContainer:hover{
    width: 100%;
    transition: ease-in-out 0.75s;
}

.navBlock{
    height: 4.1vh;
    width: 5vh;
    padding-top: 0.9vh;
    background-color: rgba(25, 25, 29, 0.8);
    text-align: center;
    float: right;
    font-size: 3vh;
}

.navTag{
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 15px;
    padding-right: 15px;
    height: 2.5vh;
    white-space: nowrap;
    padding-top: 0.5vh;
    overflow: hidden;
    background-color: rgba(25, 25, 29, 0.8);
    font-size: 2vh;
}

.navLine{
    margin-right: 2vh;
    height: 5vh;
    border-right: 0.5vh solid rgba(25, 25, 29, 0.8);
    float: right;
}

/* link style */

.navLink{
    text-decoration: none;
    color: white;
}

/* Page 2 Nav Styles */
.navRevised{
    visibility: hidden;
}

.borderRevised{
    border-right: 0.5vh dotted rgba(25, 25, 29, 0.8) !important;
}

#homeButton{
    height: 5vw;
    width: 5vw;
    right: 47.5vw;
    margin-top: 5vh;
    position: fixed;
    z-index: 1;
    background-image: url("images/homeIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileNav{
    height: 3vh;
    width: 3vh;
    margin-top: 3.85vh;
    position: fixed;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

#blurbLink{
    right: calc(50% + 30vw - 1.5vh);
    background-image: url("images/quoteIcon.png");
}

#workLink{
    right: calc(50% + 15vw - 1.5vh);
    background-image: url("images/uniIcon.png");
}

#personalLink{
    right: calc(50% - 15vw - 1.5vh);
    background-image: url("images/scrollIcon.png");
}

#contactLink{
    right: calc(50% - 30vw - 1.5vh);
    background-image: url("images/phoneIcon.png");
}

/* ---Landing page CSS----------------------------------------------------------------------- */

#landingContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/background.JPG");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#landingButtonBox{
    font-size: 36px;
    padding-top: 4vh;
    text-align: center;
    animation: arrowDown 2.25s infinite;
    -webkit-animation: arrowDown 2.25s infinite;
    position: relative;
}

#nameContainer{
    padding-top: 38vh;
    text-align: center;
}

#landingName{
    margin: 0;
    padding: 0;
    font-size: 56px;
    white-space: nowrap;   
    border-right: solid 5px transparent;
    display: inline;
    animation: cursorAnimation 0.75s infinite;
}

@keyframes typewriterName{
    0% {width: 0%}
    100%{width: 100%}
}

@keyframes cursorAnimation{
    0% {border-color: transparent;}
    50% {border-color: orange;}
    100%{border-color: transparent;}
}

#landingDescription{
    padding: 0;
    margin: 0;
    text-align: center;
}

/* ---Navigation Arrow + page structure CSS----------------------------------------------------------------------- */

.arrowButtons{
    color: white;
    text-decoration: none;
}

.arrowButtons:hover{
    color: rgb(49, 51, 53);
}

.arrowButtons:visited{
    color: white;
}

.navigationWrapper{
    text-align: center;
    height: 5vh;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 5vh;
    font-size: 5vw;
    padding-bottom: 5vh;
    overflow: hidden;
    position: relative;
    line-height: 50%;
}

.up {
    animation: arrowUp 2.25s infinite;
    -webkit-animation: arrowUp 2.25s infinite;
}

.down{
    animation: arrowDown 2.25s infinite;
    -webkit-animation: arrowDown 2.25s infinite;
}

@keyframes arrowDown{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: 1%;}
    60% {top: 2%;}
}

@-webkit-keyframes arrowDown{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: 1%;}
    60% {top: 2%;}
}

@keyframes arrowUp{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: -1%;}
    60% {top: -2%;}
}

@-webkit-keyframes arrowUp{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: -1%;}
    60% {top: -2%;}
}

.contentContainer{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.shellContainer{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* --- Blurb page CSS----------------------------------------------------------------------- */
#introBlurb{
    background-color: saddlebrown;
}

#picOne{
    width: 47.5vw;
    height: 50vh;
    background-image: url("images/picOne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#blurbContent{
    width: 52.5vw;
    height: 100vh;
    float: right;
    background-color: rgb(45, 45, 50);
}

#blurbWritingContainer{
    padding-left: 2vw;
    padding-right: 10vw;
    color: white;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    line-height: 70vh;
    height: 70vh;
}

#blurbWritingContainer p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.blurbRescale{
    text-align: left;
}

#picTwo{
    width: 47.5vw;
    height: 50vh;
    background-image: url("images/picTwo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---Work Page CSS----------------------------------------------------------------------- */

.workRescale{
    padding-left:22.5vw;
    width: 52.5vw;
    text-align: left;
}

#workContent{
    width: 75vw;
    height: 100vh;
    float: right;
    background-color: rgb(45, 45, 50);
}

#picThree{
    width: 25vw;
    height: 100vh;
    background-image: url("images/picThree.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.workContent{
    height: 70vh;
    width: 75vw;
}

.workContainer{
    height: calc(23.3vh - 4vh);
    width: calc(75vw - 4vh);
    padding: 2vh;
    background-color: rgb(45, 45, 50);
}

.workLogo{
    height: calc(23.3vh - 8vh);
    width: calc(23.3vh - 8vh);
    margin: 2vh;
    float: left;
}

.workWriting{
    float: right;
    width: calc(75vw - 23.3vh - 4vh - 10vw);
    margin-right: 10vw;
    height: calc(23.3vh - 4vh);
    line-height: calc(23.3vh - 6vh);
    /* background-color: grey; */
    color: white;
    text-align: center;
    font-size: 22px;
    overflow: hidden;
}

.workWriting p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#logoOne{
    background-image: url("images/qutLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#logoTwo{
    background-image: url("images/rwnLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#logoThree{
    background-image: url("images/cvLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---Personal CSS----------------------------------------------------------------------- */

#personal{
    background-color: rgb(45, 45, 50);
}

#vidOne{
    float: left;
    height: 45vh;
    width: 45%;
    padding: 0;
    margin: 0;
    background-image: url("images/picFour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#personalUpper{
    float: right;
    height: 45vh;
    width: 55%;
    padding: 0;
    margin: 0;
    background-image: url("images/picFive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#personalUpperContent{
    height: 30vh;
    width: 100%;
}

.personalRescale{
    width: 50vw;
    padding-left: 2.5vw;
    margin-right: 0;
    text-align: left;
}

#personalLowerContent{
    padding-top: 5vh;
    height: 35vh;
    line-height: 35vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    /* background-color: white; */
    overflow: hidden;
    color: white;
    text-align: center;
    font-size: 26px;
}

#personalLowerContent p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/* ---Contact CSS----------------------------------------------------------------------- */
#contact{
    background-color: rgb(45, 45, 50);
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contactContainer{
    width: 100%;
    padding: 0;
    margin: 0;
}

#contactInfo{
    margin-top: 20vh;
    margin-left: 25%;
    margin-right: 25%;
    height: 30vh;
    line-height: 30vh;
    width: 50%;
    font-size: 28px;
    text-align: center;
    color: white;
}

#contactInfo p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/* ---Resume CSS----------------------------------------------------------------------- */

#resumeContainer{
    padding-top: calc(5vw + 10vh);
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 100%;
    background-color: rgb(45, 45, 50);
}

#leftContainer{
    width: 20vw;
    height: 100%;
    float: left;
}

#rightContainer{
    height: 100%;
    width: 60vw;
    float: right;
}

#photoContainer{
    width: 20vw;
    height: 20vw;
    /* background-color: aquamarine; */
}

#resumeContent{
    height: calc(100vh - 6vw);
    width: 54vw;
    margin: 3vw;
    /* background-color: grey; */
}

.landscapeSkill{
    height: calc(100vh - 20vw);
    width: 20vw;
    /* background-color: burlywood; */
}

/* -----------Rescale ----------------------------------------------- */
@media screen and (orientation: landscape) {
    .mobileNav{
        display: none;
    }
}

@media screen and (orientation: portrait) {
    nav{
        visibility: hidden;
    }

    .navTagContainer:hover{
        width: 5vh;
    }

    /* --- P2 scaling --- */
    #picOne{
        display: none;
    }

    #picTwo{
        display: none;
    }

    #blurbContent{
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        float: none;
        background-color: rgb(45, 45, 50);
    }

    #blurbWritingContainer{
        margin-left: 5vw;
        margin-right: 5vw;
        padding-right: 2vw;
        /* font-size: 36px; */
    }
    
    .blurbRescale{
        text-align: center;
    }

    /* --- P3 scaling ---*/
    #picThree{
        display: none;
    }

    .workRescale{
        width: 100vw;
        padding-left: 0;
        text-align: center;
    }
    
    #workContent{
        width: 100vw;
        height: 100vh;
        background-color: rgb(45, 45, 50);
    }
    
    .workContainer{
        padding: 0;
        margin: 0;
        width: 100vw;
        height: calc(70vh/3);
    }
    
    .workLogo{
        float: none;
        height: 5vh;
        width: 5vh;
        margin: 0;
        margin-left: calc(50vw - 2.5vh);
    }
    
    .workWriting{
        float: none;
        margin:0;
        padding: 1vh;
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 28px;
        width: calc(100vw - 2vh - 10vw);
        height: calc(70vh/3 - 5vh - 2vh);
    }

    /* --- P4 scaling ---*/
    #personal{
        background-color: rgb(45, 45, 50);
    }
    
    #vidOne{
        display: none;
    }
    
    #personalUpper{
        float: none;
        height: 45vh;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: olive;
    }
    
    #personalUpperContent{
        height: 26vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }
    
    .personalRescale{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    
    #personalLowerContent{
        padding-top: 0;
        margin-top: 5vh;
        height: 35vh;
    }

    /* --- P5 scaling ---*/    
    #contactInfo{
        margin-top: 10vh;
        margin-left: 10%;
        margin-right: 10%;
        height: 50vh;
        width: 80%;
    }

    /* --- R scaling ---*/ 
    #resumeContainer{
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }
}