html, body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
    min-width: 520px;
}

/* --- Nav CSS ------------------------------------------------------------------------ */

nav{
    height: 45vh;
    right: 5vw;
    margin-top: 27.5vh;
    margin-bottom: 27.5vh;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.navTagContainer{
    height: 5vh;
    width: 5vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    direction: rtl;
    float: right
}

.navTagContainer:hover{
    width: 100%;
    transition: ease-in-out 0.75s;
}

.navBlock{
    height: 4.1vh;
    width: 5vh;
    padding-top: 0.9vh;
    background-color: rgba(25, 25, 29, 0.8);
    text-align: center;
    float: right;
    font-size: 3vh;
}

.navTag{
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 15px;
    padding-right: 15px;
    height: 2.5vh;
    white-space: nowrap;
    padding-top: 0.5vh;
    overflow: hidden;
    background-color: rgba(25, 25, 29, 0.8);
    font-size: 2vh;
}

.navLine{
    margin-right: 2vh;
    height: 5vh;
    border-right: 0.5vh solid rgba(25, 25, 29, 0.8);
    float: right;
}

/* link style */

.navLink{
    text-decoration: none;
    color: white;
}



/* ---Landing page CSS----------------------------------------------------------------------- */

#landingContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/background.JPG");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#landingButtonBox{
    font-size: 36px;
    padding-top: 4vh;
    text-align: center;
    animation: arrowDown 2.25s infinite;
    -webkit-animation: arrowDown 2.25s infinite;
    position: relative;
}

#nameContainer{
    padding-top: 38vh;
    text-align: center;
}

#landingName{
    margin: 0;
    padding: 0;
    font-size: 56px;
    white-space: nowrap;   
    border-right: solid 5px transparent;
    display: inline;
    animation: cursorAnimation 0.75s infinite;
}

@keyframes typewriterName{
    0% {width: 0%}
    100%{width: 100%}
}

@keyframes cursorAnimation{
    0% {border-color: transparent;}
    50% {border-color: orange;}
    100%{border-color: transparent;}
}

#landingDescription{
    padding: 0;
    margin: 0;
    text-align: center;
}

/* ---Navigation Arrow + page structure CSS----------------------------------------------------------------------- */

.arrowButtons{
    color: white;
    text-decoration: none;
}

.arrowButtons:hover{
    color: rgb(49, 51, 53);
}

.arrowButtons:visited{
    color: white;
}

.navigationWrapper{
    text-align: center;
    height: 5vh;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 5vh;
    font-size: 5vw;
    padding-bottom: 5vh;
    overflow: hidden;
    position: relative;
    line-height: 50%;
}

.up {
    animation: arrowUp 2.25s infinite;
    -webkit-animation: arrowUp 2.25s infinite;
}

.down{
    animation: arrowDown 2.25s infinite;
    -webkit-animation: arrowDown 2.25s infinite;
}

@keyframes arrowDown{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: 1%;}
    60% {top: 2%;}
}

@-webkit-keyframes arrowDown{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: 1%;}
    60% {top: 2%;}
}

@keyframes arrowUp{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: -1%;}
    60% {top: -2%;}
}

@-webkit-keyframes arrowUp{
    0% , 20%, 50%, 80%, 100% {top: 0%; bottom: 0%}
    40% {top: -1%;}
    60% {top: -2%;}
}

.contentContainer{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.shellContainer{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* --- Blurb page CSS----------------------------------------------------------------------- */
#introBlurb{
    background-color: saddlebrown;
}

#picOne{
    width: 47.5vw;
    height: 50vh;
    background-color: black;
}

#blurbContent{
    width: 52.5vw;
    height: 100vh;
    float: right;
    background-color: grey;
}

.blurbRescale{
    text-align: left;
}

#picTwo{
    width: 47.5vw;
    height: 50vh;
    background-color: bisque;
}

/* ---Work Page CSS----------------------------------------------------------------------- */

#work{
    background-color: goldenrod;
}

.workRescale{
    padding-left:22.5vw;
    width: 52.5vw;
    text-align: left;
}

#workContent{
    width: 75vw;
    height: 100vh;
    float: right;
    background-color: lightblue;
}

#picThree{
    width: 25vw;
    height: 100vh;
    background-color: antiquewhite;
}

.workContent{
    height: 70vh;
    width: 75vw;
}

.workContainer{
    height: calc(23.3vh - 4vh);
    width: calc(75vw - 4vh);
    padding: 2vh;
    background-color: coral;
}

.workLogo{
    height: calc(23.3vh - 8vh);
    width: calc(23.3vh - 8vh);
    margin: 2vh;
    float: left;
}

.workWriting{
    float: right;
    width: calc(75vw - 23.3vh - 4vh);
    height: calc(23.3vh - 4vh);
    background-color: grey;
}


/* ---Personal CSS----------------------------------------------------------------------- */

#personal{
    background-color: darkgreen;
}

#vidOne{
    float: left;
    height: 45vh;
    width: 45%;
    padding: 0;
    margin: 0;
    background-color: crimson;
}

#personalUpper{
    float: right;
    height: 45vh;
    width: 55%;
    padding: 0;
    margin: 0;
    background-color: olive;
}

#personalUpperContent{
    height: 30vh;
    width: 55vw;
    background-color: crimson;
}

.personalRescale{
    width: 50vw;
    padding-left: 2.5vw;
    margin-right: 0;
    text-align: left;
}

#personalLowerContent{
    padding-top: 45vh;
    height: 40vh;
    width: 100%;
    background-color: mediumpurple;
}

/* ---Contact CSS----------------------------------------------------------------------- */
#contact{
    background-color: midnightblue;
}

.contactContainer{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: bisque
}

#contactInfo{
    margin-top: 20vh;
    margin-left: 25%;
    margin-right: 25%;
    height: 30vh;
    width: 50%;
    background-color: black;
}

/* -----------Rescale ----------------------------------------------- */

@media screen and (orientation: portrait) {

    nav{
        display: none;
    }

    /* --- P2 scaling --- */
    #picOne{
        display: none;
    }

    #picTwo{
        display: none;
    }

    #blurbContent{
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        float: none;
        background-color: grey;
    }
    
    .blurbRescale{
        text-align: center;
    }

    /* --- P3 scaling ---*/
    #picThree{
        display: none;
    }

    .workRescale{
        width: 100vw;
        padding-left: 0;
        text-align: center;
    }
    
    #workContent{
        width: 100vw;
        height: 100vh;
        background-color: lightblue;
    }
    
    .workContainer{
        padding: 0;
        margin: 0;
        width: 100vw;
        height: calc(70vh/3);
    }
    
    .workLogo{
        float: none;
        height: 5vh;
        width: 5vh;
        margin: 0;
        margin-left: calc(50vw - 2.5vh);
    }
    
    .workWriting{
        float: none;
        background-color: grey;
        margin:0;
        padding: 1vh;

        width: calc(100vw - 2vh);
        height: calc(70vh/3 - 5vh - 2vh);
    }

    /* --- P4 scaling ---*/
    #personal{
        background-color: darkgreen;
    }
    
    #vidOne{
        display: none;
    }
    
    #personalUpper{
        float: none;
        height: 45vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        background-color: olive;
    }
    
    #personalUpperContent{
        height: 26vh;
        padding: 2vh;
        width: calc(100vw - 4vh);
        background-color: blueviolet;
    }
    
    .personalRescale{
        width: 100vw;
        padding-left: 0;
        text-align: center;
    }
    
    #personalLowerContent{
        padding-top: 0;
        height: 40vh;
        width: 100%;
        background-color: mediumpurple;
    }

    /* --- P4 scaling ---*/    
    #contactInfo{
        margin-top: 10vh;
        margin-left: 10%;
        margin-right: 10%;
        height: 50vh;
        width: 80%;
    }
}